<form class="table" [formGroup]="rfContact">
  <tbody>
    <tr>
      <td>Email:</td>
      <td><input type="text" formControlName="email"></td>
    </tr>
    <tr>
      <td>Mật khẩu cũ:</td>
      <td><input type="text" formControlName="password"></td>
    </tr>
    <tr>
      <td>Mật khẩu mới:</td>
      <td><input type="text" formControlName="passwordNew"></td>
    </tr>
    <tr>
      <td>Nhập lại mật khẩu</td>
      <td><input type="text" formControlName="againPassword"></td>
    </tr>
  </tbody>
</form>
<button type="button" class="btn btn-danger" (click)="onChange()">Đổi mật khẩu</button>
<button style="opacity: 0;"></button>
<button type="button" class="btn btn-outline-primary" (click)="onExit()">Quay lại</button>
